@font-face {
  font-family: 'fire';
  src: url('../../public/fonts/FIRES\ PERSONAL\ USE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Book';
  src: url('../../public/fonts/ConsolaMono-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  
  background-color: rgba(0, 0, 0, 0.925);
  background-image: url(../../public/images/Fondo.png);
  font-family: 'Book';
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'fire';
  text-align: center;
  
}

/*Login*/

.login-container {
  border-radius: 5rem;
  padding: 2rem;
}


/*formulario crear cuchillo*/

@import 'bootstrap/dist/css/bootstrap.min.css';

.from {
  background-color: rgb(243, 248, 248);
  padding: 4rem;
  border-radius: 10rem;
}





